nav a h1 {
    color: black;
    font-weight: 500;
    font-size: 6rem;
    display: inline-block;
    width: auto;
    line-height: 1.2;
    animation-name: txtAlpha;
    animation-duration: 2.5s; }
  nav div div ul {
    list-style-type: none;
    width: auto;
    white-space: nowrap;
    animation-name: txtAlpha;
    animation-duration: 2s; }
    nav div div ul nav div div ul li a {
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size .3s; }
  .nav-link:hover {
    color: white !important;
    background-size: 100% 2px; }
  nav div div form {
    display: inline-block;
    vertical-align: middle;
    animation-name: txtAlpha;
    animation-duration: 2s; }

#nav__sticky {
    border: none;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    width: auto; }