@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Yeseva+One&display=swap");
/*background-color: map-get($map:$bg,$key:'cinco'); */
/* @include caja(block,auto);*/
html {
  font-size: 62.5%; }
  html * {
    font-family: "Open Sans", sans-serif;
    text-decoration: none !important;
    color: black;
    margin: 0;
    padding: 0; }
  html body {
    background: #020024;
    background: linear-gradient(0deg, #020024 0%, #b8d7ff 0%, #9af6ff 100%);
    font-size: 2rem; }
    /* Como todavia no hay contenido, obvio el main. 
    html body main {
      margin: 1% 1.5%; }
      html body main section article ul {
        list-style-type: square; }
        html body main section article ul section article ul span {
          position: relative;
          left: -6px; }
    */